* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
}

.page-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.not-support {
  padding: 24px;
  text-align: center;
  line-height: 2;
  font-size: 14px;
}

.not-support p {
  padding: 5px 0;
}
